@import "../utils/colors.scss";

@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > h3 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: "Istok Web", sans-serif;
  }

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;

  border-radius: 5px;

  margin-bottom: 2rem; //TODO: change this later is just provizory
}

.delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 4px $pink;
}

.delete-button {
  font-size: 3rem;
  color: $pink;
}
