@import "../utils/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.product-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

  padding: 1rem 2rem;

  margin-bottom: 2rem; //TODO: replace later

  & > h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
  }
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  font-size: 3rem;
  color: $pink;

  box-shadow: 0 0 4px $pink;
}
