@import "../utils/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.products-index {
  position: relative;
  width: 90%;
  min-height: 30vh;
  margin: 0 auto;
  color: $white;

  animation: moveFromTop;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;

  & > h3 {
    text-transform: capitalize;
    font-family: "Istok Web", sans-serif;
  }

  padding: 1rem 2rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 1px;
    background-color: rgba($green, 0.2);
  }
}

.products {
  padding-right: 1rem;
  padding-left: 1rem;
}

.products-checked {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: $greyDark;
  color: $greyBlue;

  padding-right: 1rem;
  padding-left: 1rem;
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
